<div class="profile-page">
  <div class="profile-infos container">
    <div class="col-4" style="display: flex; justify-content: center">
      <div class="avatar-container" >
        <div class="image-container" *ngIf="file; else placeholder"
             [ngClass]="{'box-shadow-avatar': !!file}"
             [ngStyle]="{backgroundImage: 'url(' + file + ')'}">
        </div>

        <ng-template #placeholder>
          <div class="image-container avatar-placeholder">
          </div>
        </ng-template>

        <label for="avatar-input-file">
          <div class="icon-wrapper">
            <input type="file" id="avatar-input-file" accept="image/*" (change)="onFileChange($event)" />
            <mat-icon class="icon" fontIcon="edit"></mat-icon>
          </div>
        </label>

      </div>
    </div>
    <div class="col-8">
      <h2 *ngIf="currentUser?.pseudo; else elseBlock">
        {{currentUser?.pseudo}}
      </h2>
      <ng-template #elseBlock>
        <p>Aucun pseudo disponible</p>
      </ng-template>
      <i>
        {{currentUser?.firstname}}
        {{currentUser?.lastname}}
      </i>
      <i>
        {{currentUser?.email}}
      </i>
    </div>
    <button mat-raised-button color="primary" (click)="openNewPostForm()">Nouveau Post</button>
  </div>
  <mat-divider></mat-divider>
  <div class="profile-items">
    <mat-tab-group style="width:80%">
      <mat-tab label="Posts">
        <div *ngFor="let object of userObjects">
          <mat-card class="example-card objects-cards">
            <mat-card-header>
              <mat-card-title>{{object.name}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="{{object.image}}" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                {{object.description}}
              </p>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-tab>
      <mat-tab label="Likes">
        <div class="list-favorites-posts" *ngFor="let post of favoritesPosts">
          <post [receivedObject]="post"></post>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>

</div>
