.element{
  margin: 0;
  padding: 0;
  display: grid;
  width: 700px;
  height: 500px;
  overflow: auto;
}

.element-img{
  max-width: 300px;
  max-height: 300px;
}

.description{
  display: flex;
}

.post-description{
  padding: 10px;
}

.post-boutons{
  position: sticky;
  display: flex;
  height: 70px;
  bottom: 0;
  z-index: 110;
  justify-content: center;
  padding: 10px;
  background-color: rgba(0, 63, 55, 0.76);
}
