<div class="element">
  <mat-card style="width:100%; height:500px">
    <div style="display: flex; justify-content: center; margin-top: 10px">
      <img class="col element-img" mat-card-image src="{{itemOfPost?.image}}" alt="Photo of a Shiba Inu">
    </div>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{receivedObject.title}}</mat-card-title>
      <mat-card-subtitle>{{userOfItem?.email}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="post-description">
      <p style="text-justify: inter-word">
        {{receivedObject.description}}
      </p>
      Valeur : {{itemOfPost?.value}} points.
    </mat-card-content>
  </mat-card>
  <div class="post-boutons">
    <button mat-mini-fab class="btn-icon" (click)= "removeFavorites()">
      <mat-icon>{{ isFavorite ? 'favorite' : 'favorite_border' }}</mat-icon>
    </button>
  </div>
</div>
